<div class="" style="margin-block-start: 1em; display: flex; justify-content: center;">
    <a href="https://thymis.io/">
        <img src="{{ path_to_root }}thymis.png" alt="Thymis" style="width: 40px; height: 40px;"/>
    </a>
</div>
