{ pkgs, lib, ... }:

{
  virtualisation.podman = lib.mkOverride "{{priority}}" {
    enable = true;
    autoPrune.enable = true;
    dockerCompat = true;
    defaultNetwork.settings = {
      # Required for container networking to be able to use names.
      dns_enabled = true;
    };
  };
  virtualisation.oci-containers.backend = lib.mkOverride "{{priority}}" "podman";

  "{%- for c in containers %}"
  virtualisation.oci-containers.containers.""{{ c.container_name }}"" = lib.mkOverride "{{priority}}"{
    image = ""{{ c.image }}"";
    "{%- if c.environment %}"
    environment = {
      "{%- for env in c.environment %}"
        ""{{ env.key }}"" = ""{{ env.value }}"";
      "{%- endfor %}"
    };
    "{%- endif %}"
    "{%- if c.volumes %}"
    volumes = [
      "{%- for volume in c.volumes %}"
        ""{{ volume.host }}":"{{ volume.container }}""
      "{%- endfor %}"
    ];
    "{%- endif %}"
    "{%- if c.ports %}"
    ports = [
      "{%- for port in c.ports %}"
        ""{{ port.host }}":"{{ port.container }}""
      "{%- endfor %}"
    ];
    "{%- endif %}"
    "{%- if c.labels %}"
    labels = {
      "{%- for label in c.labels %}"
        ""{{ label.key }}"" = ""{{ label.value }}"";
      "{%- endfor %}"
    };
    "{%- endif %}"
    log-driver = "journald";
  };
  "{%- endfor %}"
}
