/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='hamlindigo'] {
	--theme-rounded-base: 8px;
	--theme-rounded-container: 4px;
}
