/* Write your global styles here, in PostCSS syntax */
@import 'tailwindcss';

@config "./../tailwind.config.mjs";

@plugin 'flowbite/plugin';

@layer base {
	button,
	[role='button'] {
		cursor: pointer;
	}
}

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: cyan;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

html,
body {
	@apply h-full;
}

div.multiselect {
	@apply !p-2;
	@apply !rounded-lg;
	@apply !bg-gray-50;
	@apply dark:!bg-gray-600;
	@apply !border;
	@apply !border-gray-300;
	@apply dark:!border-gray-500;
}
div.multiselect.open {
	@apply !border-primary-500;
	@apply !ring-primary-500;
	@apply dark:focus:!border-primary-500;
	@apply dark:focus:!ring-primary-500;
}
div.multiselect > svg {
	width: 18px;
}
div.multiselect > button.remove {
	margin: 0 3pt;
}
div.multiselect > ul.options > li {
	@apply bg-gray-100;
	@apply dark:bg-gray-800;
}
div.multiselect > ul.options > li.active {
	@apply bg-gray-200;
	@apply dark:bg-gray-700;
}
div.multiselect > ul > input {
	@apply !p-0;
	@apply bg-gray-50;
	@apply dark:bg-gray-600;
	@apply text-gray-800;
	@apply dark:text-gray-200;
	--tw-ring-shadow: none;
}
div.multiselect > ul.selected > li {
	@apply !p-1;
	@apply !px-2;
	@apply !m-[1px];
	@apply !rounded-lg;
}
div.multiselect > ul.selected > li > .remove {
	@apply ml-1;
}

.page-button.active {
	@apply bg-gray-300 dark:bg-gray-500;
	@apply text-primary-500;
}
.page-button:hover {
	@apply bg-gray-300 dark:bg-gray-500;
}
