[tool.poetry]
name = "thymis-controller"
version = "0.1.0"
description = ""
authors = ["Adrian Block <adrian.block@thymis.io>", "Eli Kogan-Wang <eli.kogan-wang@thymis.io", "Maximilian Schmöcker <maximilian.schmoecker@thymis.io>", "Florian Schönlau <florian.schoenlau@thymis.io"]
license = "AGPLv3"
packages = [
    { include = "thymis_controller" }
]

[tool.poetry.dependencies]
python = ">=3.10"
fastapi = "^0.112.0"
pydantic = "^2.8.2"
uvicorn = "^0.30.6"
jinja2 = "^3.1.4"
python-dotenv = "^1.0.1"
websockets = "^12.0"
gitpython = "^3.1.41"
packaging = "^24.0"
httpx = "^0.27.0"
psutil = "^6.0.0"
pydantic-settings = "^2.4.0"
alembic = "^1.13.2"
sqlalchemy = "^2.0.32"
python-multipart = "^0.0.9"

[tool.poetry.group.enterprise]
optional = true

[tool.poetry.group.enterprise.dependencies]
thymis-enterprise = { path = "../../thymis-enterprise/py" }

[tool.poetry.group.test.dependencies]
pytest = "^8.3.2"
pytest-cov = "^5.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
