name: "Build"
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: |
            system-features = kvm
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: pin nixpkgs
        run: nix registry add nixpkgs github:NixOS/nixpkgs/nixos-23.11
      - name: build generic-x86_64.install-iso
        run: nix build .#all-download-images.generic-x86_64.install-iso --print-build-logs
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: |
            system-features = kvm
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: pin nixpkgs
        run: nix registry add nixpkgs github:NixOS/nixpkgs/nixos-23.11
      - name: build frontend
        run: nix build .#thymis-frontend-container --print-build-logs
  build-controller:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: |
            system-features = kvm
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: pin nixpkgs
        run: nix registry add nixpkgs github:NixOS/nixpkgs/nixos-23.11
      - name: build controller
        run: nix build .#thymis-controller-container --print-build-logs
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push controller image
        run: |
          docker load < result
          docker tag $(docker images --format "{{.Repository}}:{{.Tag}}" | grep thymis-controller) ghcr.io/thymis-io/thymis-controller:${{ github.ref }}
          docker push ghcr.io/thymis-io/thymis-controller:${{ github.ref }}
  build:
    runs-on: ubuntu-latest
    needs: [build-iso, build-frontend, build-controller]
    steps:
      - run: echo "Build successful"
