name: "Build"
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

jobs:
  build-agent:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: build thymis-agent
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-agent --print-build-logs

  build-thymis-controller:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: build thymis-controller
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-controller --print-build-logs

  build-thymis-controller-arm:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: build thymis-controller-arm
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-controller-arm --print-build-logs

  build-thymis-controller-pi-3-sd-image:
    runs-on: ubuntu-22.04-arm
    needs: build-thymis-controller-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: run command with nix cache upload
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
            script: |
              nix build .#thymis-controller-pi-3-sd-image --print-build-logs
      - uses: ./.github/actions/assemble-image-and-assert-existence

  build-thymis-controller-pi-4-sd-image:
    runs-on: ubuntu-22.04-arm
    needs: build-thymis-controller-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: build thymis-controller-pi-4-sd-image
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-controller-pi-4-sd-image --print-build-logs
      - uses: ./.github/actions/assemble-image-and-assert-existence

  build-thymis-controller-pi-5-sd-image:
    runs-on: ubuntu-22.04-arm
    needs: build-thymis-controller-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: build thymis-controller-pi-5-sd-image
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-controller-pi-5-sd-image --print-build-logs
      - uses: ./.github/actions/assemble-image-and-assert-existence

  build-generic-x86_64-image:
    runs-on: ubuntu-latest
    needs: build-thymis-controller
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: pin nixpkgs
        run: nix registry add nixpkgs github:NixOS/nixpkgs/nixos-24.11
      - name: build thymis-controller-generic-x86_64-image
        uses: ./.github/actions/run-command-with-nix-cache-upload
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            nix build .#thymis-controller-generic-x86_64-image --print-build-logs
      - uses: ./.github/actions/assemble-image-and-assert-existence
